<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>

    <!--MODIFICA LA CADENA DE CONEXION ABAJO PARA QUE SE CONECTE A TU BASE DE DATOS-->
    <!--Ejemplo de cadena de conexión para Oracle:-->
    <!--connectionString="Data Source=tu_servidor:tu_puerto/tu_servicio;User ID=tu_usuario;Password=tu_contraseña;"-->
    
    <!--CADENAS DE CONEXION DE CADA DESARROLLADOR O TESTER-->
    <!--FABER-->
    <!--connectionString="Data Source=localhost:1521/XEPDB1;User ID=BDD1;Password=oracle;"-->
    <!--SOFIA-->
    
    <!--ENNERSON-->
    <!--connectionString="Data Source=localhost:1521/XEPDB1;User ID=system;Password=oracle;"-->
    <!--LIZ-->
    
    <add name="MiConexionOracle"
         connectionString="Data Source=localhost:1521/XEPDB1;User ID=BDD1;Password=oracle;"
         providerName="Oracle.ManagedDataAccess.Client"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>